{{- if .Values.rbac.create -}}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "falco-airgapped.fullname" . }}
  labels:
    {{- include "falco-airgapped.labels" . | nindent 4 }}
rules:
  # Allow Falco to read cluster-wide resources for enrichment
  - apiGroups:
      - ""
    resources:
      - nodes
      - namespaces
      - pods
      - replicationcontrollers
      - services
      - events
    verbs:
      - get
      - list
      - watch
  
  - apiGroups:
      - apps
    resources:
      - daemonsets
      - deployments
      - replicasets
      - statefulsets
    verbs:
      - get
      - list
      - watch
  
  - apiGroups:
      - batch
    resources:
      - jobs
      - cronjobs
    verbs:
      - get
      - list
      - watch
  
  # For container plugin
  - apiGroups:
      - ""
    resources:
      - pods/log
    verbs:
      - get
  
  # For k8s audit plugin
  - apiGroups:
      - ""
    resources:
      - configmaps
    verbs:
      - get
      - list
      - watch
{{- end }}
